<!DOCTYPE html>
<html lang="fr">
{% load static %}
{% load staticfiles %}
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orotangi</title>
    <!-- for trigger happy render -->
    <meta name="author" content="FoxMaSk">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    {% block navbar %}
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item">
          <a  class="brand-logo" href="{% url 'base' %}" title="{% trans 'Home' %}">Orotangi</a>
        </a>
      </div>
      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="nav-right nav-menu">
          {% if user.is_authenticated %}
            <a class="nav-item" href="{% url 'logout' %}" title="{% trans 'Log out' %}">
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            </a>
          {% endif %}
      </div>
    </nav>
    {% endblock navbar %}
    {% block content %}
    {% endblock %}
    {% if user.is_authenticated %}
    <div class="container is-fluid" id="root">
        <app></app>
    </div>
    {% endif %}
    <hr/>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
            <p>
                <strong>Orotangi</strong> by <a href="https://foxmask.trigger-happy.eu">FoxMaSk</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/foxmask/orotangi">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'build/orotangi_vue.js' %}"></script>
    {% block extrajs %}{% endblock %}
</body>
</html>